---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const activeLang = getLangFromUrl(Astro.url);
---

<ul>
  {
    languages.map(language => (
      <li class={activeLang === language.code ? "active" : ""}>
        <a href={`/${language.code}`}>{language.label}</a>
      </li>
    ))
  }
</ul>

<style>
  li.active {
    @apply font-bold;
  }
</style>
